<div class="col-lg-6 col-lg-offset-3 centered">
<h1>Editing Video Set</h1>
<hr>
<%= render 'form', video_set: @video_set %>

<%= link_to 'Show', @video_set %> |
<%= link_to 'Back', video_sets_path %>
</div>
