<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Bunker</h4>
					<p>
						Some Address 132,<br/>
						+34 9054 5455, <br/>
						Uzhhorod, Ukraine.
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="#">Dribble</a><br/>
						<a href="#">Twitter</a><br/>
						<a href="https://www.facebook.com/thedewitt">Facebook</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About WatchOriginals</h4>
					<p>This website was created to help people studying English with improving their listening skills, give them a place where they can watch favorite shows in original soundtrack.</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
