<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="img/user.png" alt="Stanley">
					<h1>Welcome here!</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sit at blanditiis, fugit beatae laborum cumque, soluta? Tempore nam officia molestias quaerat ipsam!</p>
					<p>Facilis deserunt quisquam, natus aliquid, pariatur dolorem fugiat eius veniam nemo accusantium consectetur fugit voluptas repellendus asperiores neque ut nobis cumque distinctio non?</p>
					
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
